In [63]:
import json
import pandas as pd

def foo(filename):
    with open(filename) as f:
        data = json.load(f)
    data_trials = data['trials']
    '''
    params_name = []
    for params in data_trials[0]['parameters']:
        params_name.append(list(params.values())[0])
    metrics_name = []
    for metrics in data_trials[0]['finalMeasurement']['metrics']:
        metrics_name.append(list(metrics.values())[0])
    '''
    df = pd.DataFrame()

    for trial in data_trials:
        row = {}
        row['id'] = trial['id']
        row['status'] = trial['status']
        if row['status'] =='COMPLETED':
            for l in trial['parameters']:
                row[l['name']] = l['floatValue']
            row['objectiveValue'] = trial['finalMeasurement']['objectiveValue'] 

            for l in trial['finalMeasurement']['metrics']:
                row[l['name']] = l['value']

            df = df.append(row, ignore_index=True)
    return df

In [64]:
df = foo('data/study_3620439789512.txt')

In [65]:
df.head()

,epoch,gamma,id,l_acc,l_eval_loss,lr,num_sb_layers,num_ts_layers,objectiveValue,r_acc,r_eval_loss,size,status
0,100.0,1.0,1.0,0.87650,0.409784,0.001275,1.0,3.0,1.73335,0.85685,0.477017,200.0,COMPLETED
1,150.0,2.0,2.0,0.89780,0.320496,0.000952,1.0,3.0,1.77115,0.87335,0.375734,50.0,COMPLETED
2,200.0,0.0,3.0,0.83610,0.488994,0.001823,1.0,3.0,1.61860,0.78250,0.630171,200.0,COMPLETED
3,150.0,3.0,4.0,0.89945,0.313688,0.000780,1.0,4.0,1.77775,0.87830,0.361489,50.0,COMPLETED
4,200.0,2.0,5.0,0.88805,0.357057,0.001049,2.0,3.0,1.75580,0.86775,0.415259,100.0,COMPLETED

In [3]:
with open('data/study_3620439789512.txt') as f:
    data = json.load(f)

In [9]:
data_trials = data['trials']

In [26]:
params

{'name': 'epoch', 'floatValue': 100}

In [35]:
params_name = []
for params in data_trials[0]['parameters']:
    params_name.append(list(params.values())[0])

In [36]:
params_name

['epoch', 'gamma', 'lr', 'num_sb_layers', 'num_ts_layers', 'size']

In [42]:
data_trials[0]['finalMeasurement']

{'elapsedSecs': 8285,
 'steps': '0',
 'objectiveValue': 1.73335,
 'metrics': [{'name': 'l_acc', 'value': 0.8765},
  {'name': 'l_eval_loss', 'value': 0.4097836911678314},
  {'name': 'r_acc', 'value': 0.85685},
  {'name': 'r_eval_loss', 'value': 0.4770171046257019}],
 'modelCheckpointPath': '',
 'missingObjectiveValue': False}

In [40]:
metrics_name = []
for metrics in data_trials[0]['finalMeasurement']['metrics']:
    metrics_name.append(list(metrics.values())[0])

In [43]:
metrics_name.append('objectiveValue')

In [44]:
metrics_name

['l_acc', 'l_eval_loss', 'r_acc', 'r_eval_loss', 'objectiveValue']

In [48]:
for params in data_trials[0]['parameters']:
    print(list(params.values())[1])

100
1
0.0012753718084571482
1
3
200

In [61]:
df = pd.DataFrame(columns = ['id']+params_name+metrics_name)

for trial in data_trials:
    row = {}
    row['id'] = trial['id']
    row['status'] = trial['status']
    if row['status'] =='COMPLETED':
        for l in trial['parameters']:
            row[l['name']] = l['floatValue']
        row['objectiveValue'] = trial['finalMeasurement']['objectiveValue'] 

        for l in trial['finalMeasurement']['metrics']:
            row[l['name']] = l['value']

        df = df.append(row, ignore_index=True)

In [56]:
trial

{'id': 1465,
 'status': 'PENDING',
 'customStatus': '',
 'description': '',
 'parameters': [{'name': 'epoch', 'floatValue': 200},
  {'name': 'gamma', 'floatValue': 0},
  {'name': 'lr', 'floatValue': 0.0009844237128753066},
  {'name': 'num_sb_layers', 'floatValue': 2},
  {'name': 'num_ts_layers', 'floatValue': 2},
  {'name': 'size', 'floatValue': 200}],
 'measurements': [],
 'creationTimeSec': '1589107465',
 'completionTimeSec': '0',
 'assignedWorker': 'client_80',
 'stoppingReason': '',
 'trialInfeasible': False,
 'infeasibilityReason': '',
 'relatedLinks': [],
 'metadata': []}

In [62]:
df

,id,epoch,gamma,lr,num_sb_layers,num_ts_layers,size,l_acc,l_eval_loss,r_acc,r_eval_loss,objectiveValue,status
0,1,100,1,0.001275,1,3,200,0.87650,0.409784,0.85685,0.477017,1.73335,COMPLETED
1,2,150,2,0.000952,1,3,50,0.89780,0.320496,0.87335,0.375734,1.77115,COMPLETED
2,3,200,0,0.001823,1,3,200,0.83610,0.488994,0.78250,0.630171,1.61860,COMPLETED
3,4,150,3,0.000780,1,4,50,0.89945,0.313688,0.87830,0.361489,1.77775,COMPLETED
4,5,200,2,0.001049,2,3,100,0.88805,0.357057,0.86775,0.415259,1.75580,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,3256,150,3,0.000401,1,4,100,0.89630,0.311932,0.87425,0.372554,1.77055,COMPLETED
3158,3257,100,0,0.001005,1,4,50,0.90310,0.299966,0.88245,0.355586,1.78555,COMPLETED
3159,3258,100,0,0.000064,2,2,100,0.87110,0.402389,0.84070,0.475552,1.71180,COMPLETED
3160,3268,100,2,0.000267,0,3,100,0.89510,0.318692,0.87865,0.364515,1.77375,COMPLETED
3161,3276,100,3,0.000228,1,4,50,0.86865,0.411468,0.83080,0.503075,1.69945,COMPLETED

In [ ]:
import